<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>292954883091-5g66jtf24qc189no7nbd7p79r68ggr1t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.292954883091-5g66jtf24qc189no7nbd7p79r68ggr1t</string>
	<key>API_KEY</key>
	<string>AIzaSyDcePAgXaY0CkIUa2Cd5WxpalxdJRBHm20</string>
	<key>GCM_SENDER_ID</key>
	<string>292954883091</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.senecatgames.islandconquest</string>
	<key>PROJECT_ID</key>
	<string>island-conquest-6b8cc</string>
	<key>STORAGE_BUCKET</key>
	<string>island-conquest-6b8cc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:292954883091:ios:a8498b9b9f8f37fd1c6be6</string>
</dict>
</plist>